    /*-----------idejos-----------------*/

    .container {
        width:calc(100% - 600px) ;
        margin-left: auto;
        margin-right: auto;
        max-width: 1600px;
        .idea{
          display: inline-block;
          padding: 20px 0;
          width: 100%;
        }
        .ideaBtn-send{
            width: 110px;
            margin: 20px 0 20px 0;
            padding: 10px 0px 10px 0;
            border: none;
            border-radius: 6px;
            color: #fff;
            background-color:rgb(88, 88, 88);
            font: 16px 'Opens Sans', sans-serif;
            letter-spacing: 1px;
            appearance: none;
            cursor: pointer;
        }
      }
      
      .wrapper {
        max-width: 1600px;
        margin: 0 auto;
        display: grid;
        grid-gap: 1rem;
        grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
      }
      
      .box {
        padding: 10px;
        height: 300px;
        width: 100%;
        position: relative;
          .ideaContent{
            width: 100%;
            height: 100%;
            overflow:hidden;
            font-size: 22px;
            line-height: 30px;
          }
        .text{
          display: inline-block;
          width: 100%;
          font-size: 20px;
          line-height: 20px;
          color: rgb(88, 88, 88);
          .data{
            font-size: 14px;
            line-height: 20px;
            font-weight: bold;
            color: black;
          }
        }
      }
      
      
      //----------textarea-------------------//
      
      *, *::before, *::after {
        box-sizing: border-box;
      }
      .cont, .backdrop, .writeIdeaText {
        text-align: center;
        width:100%;
        height: 40px;
      }
      
      .highlights, textarea {
        padding: 10px;
        font: 20px/28px 'Open Sans', sans-serif;
        letter-spacing: 1px;
      }
      
      .cont {
        display: block;
        margin: 0 auto;
        transform: translateZ(0);
        -webkit-text-size-adjust: none;
      }
      
      .backdrop {
        position: absolute;
        z-index: 1;
        border: 2px solid #685972;
        background-color: #fff;
        overflow: auto;
        pointer-events: none;
        transition: transform 1s;
      }
      
      .highlights {
          white-space: pre-wrap;
          word-wrap: break-word;
          color: transparent;
      }

      .ideaContent {
        width: 100%;
        height: 100%;
        .ideaTextEdit{
            width: 50%;
            height: 100%;
            float: left;
            .ideaText {
                position: absolute;
                z-index: 2;
                margin: 0;
                border: 2px solid #74637f;
                border-radius: 0;
                color: rgb(10, 10, 10);
                background-color: transparent;
                overflow: auto;
                resize: none;
                transition: transform 1s;
                font-size: 18px;
                line-height: 20px;
                height: 70%;
              }
        }
        .ideaSoliution{
            width: 50%;
            height: 100%;
            float: right;
            .ideaTextSoliution{
                position: absolute;
                z-index: 2;
                margin: 0;
                border: 2px solid #74637f;
                border-radius: 0;
                color: rgb(10, 10, 10);
                background-color: transparent;
                overflow: auto;
                resize: none;
                transition: transform 1s;
                font-size: 18px;
                line-height: 20px;
                height: 70%;
            }
        }
      }
      

      
      mark {
        border-radius: 3px;
        color: transparent;
        background-color: #b1d5e5;
      }
      .textCount{
        height: 20px;
        float: right;
      }
      .ideaBtns{
          display: inline-block;
        }
        .ideaBtn {
            width: 110px;
            margin: 220px 0 0px 0;
            padding: 10px 0px 10px 0;
            border: none;
            border-radius: 6px;
            color: #fff;
            background-color:rgb(88, 88, 88);
            font: 16px 'Opens Sans', sans-serif;
            letter-spacing: 1px;
            appearance: none;
            cursor: pointer;
    
          }


      
      .perspective .backdrop {
        transform:
          perspective(1500px)
          translateX(-125px)
          rotateY(45deg)
          scale(.9);
      }
      
      .perspective textarea {
        transform:
          perspective(1500px)
          translateX(155px)
          rotateY(45deg)
          scale(1.1);
      }
      
      textarea:focus, button:focus {
        outline: none;
        box-shadow: 0 0 0 2px #c6aada;
      }
      /*------like button-----------------*/
      .like__btn {
        border: none;
        color: rgb(75, 74, 74);
        cursor: pointer;
        padding: 0.2rem;
        border-radius: 50px;
        max-width: 100px;
        transition: all ease 0.3s;
        margin: 10px 0 10px 0;
        
        &:hover {
            background-color: rgba(#e74c3c, 0.8);
        }
      
        &:disabled {
            background-color: #d4cfcf;
            cursor: pointer;
        }
        
      }
      
      .like__icon {
        font-size: 1.2rem;
        margin-right: 0.3rem;
      
      }
      
      .like__number {
        font-size: 14px;
        text-align: center;
        cursor: pointer;
        width: 100%;
      }
      
      
      // Container styling
      .like {
        display: flex;
        justify-content: center;
        align-items: center;      
        position:absolute;
        left: 90%;
        top: 7%;
        transform: translate(-50%, -50%);
      }
      @media (max-width: 600px) {
        textarea, .container{
          width: 260px;
        }
        .like__number{
          margin: 10px 0 0 0;
        }
        .like__btn {
          margin: 20px 0 10px 0;
        }
      }
      .likeBox{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;
        background-color: white;
        position:absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        .number{
          line-height: 20px;
          font-size: 16px;
          margin: 0 0 0 20px;
        }
      }